<p>I’m <span itemprop="name">Angélique Weger</span>, and I’m an enthusiastic crafter—of the code, user experiences, and teams I write about here, but also of hands-on DIY projects, like making yoghurt, paper, and yarn.</p>

<p>See what I'm up to <span class="link-wrapper u-inline-block"><a href="/now" class="u-block">now.</a></span></p>
