<p>I’m Angélique Weger, and I’m an enthusiastic crafter—of the sort of clean, effective code and pleasing user experiences I write about here, but also of hands-on DIY projects, like making yoghurt, cheese, paper, cider, and yarn.</p>

<p>See what I'm up to <span class="link-wrapper u-inline-block"><a href="/now" class="u-block">now.</a></span></p>
