<link rel="shortcut icon" href="/favicon.ico?v=2">

<link rel="apple-touch-icon" sizes="180x180" href="{{ metadata.faviconpath }}apple-touch-icon.png?v=2">
<link rel="icon" type="image/png" sizes="32x32" href="{{ metadata.faviconpath }}favicon-32x32.png?v=2">
<link rel="icon" type="image/png" sizes="16x16" href="{{ metadata.faviconpath }}favicon-16x16.png?v=2">

<meta name="msapplication-TileColor" content="#5b9a95">

<link rel="manifest" href="/web.manifest">
<meta name="theme-color" content="#372839">
