<link rel="preconnect" href="https://fonts.bunny.net">

{{# Basic sans serif fonts #}}
{{# https://www.cdnfonts.com/literal.font #}}
<link href="https://fonts.cdnfonts.com/css/literal" rel="stylesheet">
{{# font-family: 'Literal', sans-serif; #}}
{{# https://fonts.bunny.net/family/rethink-sans #}}
<link href="https://fonts.bunny.net/css?family=rethink-sans:400" rel="stylesheet" />
{{# font-family: 'Rethink Sans', sans-serif; #}}
{{# https://fonts.bunny.net/family/readex-pro #}}
<link href="https://fonts.bunny.net/css?family=readex-pro:400" rel="stylesheet" />
{{# font-family: 'Readex Pro', sans-serif; #}}

{{# Monspace fonts #}}
{{# https://www.cdnfonts.com/anonymous-pro.font #}}
<link href="https://fonts.cdnfonts.com/css/anonymous-pro" rel="stylesheet">
{{# font-family: 'Anonymous Pro', sans-serif; #}}
{{# https://www.cdnfonts.com/sometype-mono.font #}}
<link href="https://fonts.cdnfonts.com/css/sometype-mono" rel="stylesheet">
{{# font-family: 'SomeType Mono', sans-serif; #}}
{{# https://fontlibrary.org/en/font/anka-coder-condensed #}}
<link rel="stylesheet" media="screen" href="https://fontlibrary.org//face/anka-coder-condensed" type="text/css"/>
{{# font-family: 'AnkaCoderCondensedRegular'; #}}
{{# https://fonts.bunny.net/family/azeret-mono #}}
<link href="https://fonts.bunny.net/css?family=azeret-mono:400" rel="stylesheet" />
{{# font-family: 'Azeret Mono', sans-serif; #}}

{{# Pixel fonts #}}
{{# https://www.cdnfonts.com/narpassword00000.font #}}
<link href="https://fonts.cdnfonts.com/css/narpassword00000" rel="stylesheet">
{{# font-family: 'NARPASSWORD00000', sans-serif;
font-family: 'NARPASSWORD00000 fixed.width', sans-serif; #}}
{{# https://fontlibrary.org/en/font/pixel-operator #}}
<link rel="stylesheet" media="screen" href="https://fontlibrary.org//face/pixel-operator" type="text/css"/>
{{# font-family: 'PixelOperatorMono8Regular'; #}}
{{# https://fonts.bunny.net/family/bitcount #}}
<link href="https://fonts.bunny.net/css?family=bitcount:400" rel="stylesheet" />
{{# font-family: 'Bitcount', sans-serif; #}}
{{# https://fonts.bunny.net/family/bitcount-grid-single #}}
<link href="https://fonts.bunny.net/css?family=bitcount-grid-single:400" rel="stylesheet" />
{{# font-family: 'Bitcount Grid Single', sans-serif; #}}
{{# https://departuremono.com/ #}}
<link href="https://db.onlinewebfonts.com/c/4571adf8e6d8270ea61a4f43a3ef31d2?family=Departure+Mono" rel="stylesheet" type="text/css"/>
{{# font-family: 'Departure Mono', sans-serif; #}}

{{# Other display fonts #}}
{{# https://www.cdnfonts.com/marghote.font #}}
<link href="https://fonts.cdnfonts.com/css/marghote" rel="stylesheet">
{{# font-family: 'Marghote', sans-serif; #}}
{{# https://www.cdnfonts.com/f25-executive.font #}}
<link href="https://fonts.cdnfonts.com/css/f25-executive" rel="stylesheet">
{{# font-family: 'F25 Executive', serif; #}}
{{# https://www.cdnfonts.com/this-side-up.font #}}
<link href="https://fonts.cdnfonts.com/css/this-side-up" rel="stylesheet">
{{# font-family: 'This Side Up', sans-serif; #}}
