{% if pagination.href.next or pagination.href.previous %}
  <nav class="button-container" aria-label="Pagination links">
    <ol class="u-list-reset u-flex{% if (pagination.href.previous == null) %} __only-newer{% endif %}">
      {% if pagination.href.previous %}
      <li>
        <a class="button" href="{{ pagination.href.previous }}">
          <em>◀ Previous</em>
        </a>
      </li>
      {% endif %}
      {% if pagination.href.next %}
      <li>
        <a class="button" href="{{ pagination.href.next }}">
          <em>Next ▶</em>
        </a>
      </li>
      {% endif %}
    </ol>
  </nav>
{% endif %}
