<ol class="u-list-reset posts-list">
  {% for post in postslist %}
  <li>
    <h3 class="post-title">{{ post.data.title }}</h3>
    <time datetime="{{ post.date | htmlDateString }}" class="u-block">{{ post.date | readableDate }}</time>
    <a href="{{ post.url | url }}" class="u-block post-cta"><em class="u-block">Read More</em></a>
  </li>
  {% endfor %}
</ol>
