<footer class="bio-footer" itemscope itemtype="https://schema.org/Person">
  {% include "bio.njk" %}
  <span class="photo-wrapper">
    {% include "bio-photo.njk" %}
    {% include "top-link.njk" %}
  </span>
</footer>
