<div>
  {%- if (title == "Blog") and pagination.href.previous %}
    <nav>
      <a href="{{ pagination.href.previous }}">Previous</a>
    </nav>
  {%- endif %}
  <ol class="u-list-reset">
    {% for post in postslist %}
    <li>
      {%- if (templateClass == "tmpl-home") %}
      <h3>{{ post.data.title }}</h3>
      {%- else %}
      <h2>{{ post.data.title }}</h2>
      {%- endif %}
      <time datetime="{{ post.date | htmlDateString }}" class="u-block">{{ post.date | readableDate }}</time>
      <a href="{{ post.url }}" class="u-block">Read More</a>
    </li>
    {% endfor %}
  </ol>
  {%- if (templateClass == "tmpl-home") %}
    <nav>
      <a href="/blog/">View All</a>
    </nav>
  {%- elif (title == "Blog") and pagination.href.next %}
    <nav>
      <a href="{{ pagination.href.next }}">Next</a>
    </nav>
  {%- endif %}
 </div>
