{%- if bookList -%}
<ul class="u-list-reset book-list">
  {%- asyncEach book in bookList -%}

    <li>
      <a href="{{ book.url }}">
        <img src="{{ book.img }}" alt="" class="u-margin-horizontal-auto">
      </a>
      <a href="{{ book.url }}">
        {{ book.title }}
      </a>
      by {{ book.author }}
    </li>

  {%- endeach -%}
</ul>
{%- else -%}

<p>Sorry, my <a href="https://app.thestorygraph.com/currently-reading/angeliquejw">current reads list</a> isn't loading properly. 👎🏻  If you have a GitHub account, you can report this as an <a href="https://github.com/angeliquejw/dev-blog/issues/">Issue</a>.</p>
{%- endif -%}

<p>📚 I share my current and past reads on <a href="https://app.thestorygraph.com/profile/angeliquejw/">The StoryGraph</a>.</p>
