<header class="site-header">

  <div class="mobile-row">
    {% include "site-logo.njk" %}
    
    {% include "social-list.njk" %}
  </div>

  <nav>
    <ul class="page-list u-list-reset">
      <li class="{% if (title == "Blog") or (tags and "posts" in tags) %} --active{% endif %}"><a href="/blog" class="u-block">Blog</a></li>
      <li class="{% if (entry.url == page.url) %} --active{% endif %}"><a href="/" class="u-block">About</a></li>
    </ul>
  </nav>

</header>
