<div class="site-name">
  <meta itemprop="name" content="Angélique Weger">
  <a href="/" class="home-link u-flex">
    <span class="u-sr-only">{{ metadata.title }}</span>
    <span class="site-logo u-block" aria-hidden="true" title="Angélique Weger">a</span>
  </a>
</div>
