<nav itemprop="hasPart" itemscope itemtype="http://schema.org/SiteNavigationElement">
  <ul class="u-list-reset">
    <li><a href="/blog" class="u-block" itemprop="url"><span itemprop="name">Blog</span></a></li>
    <li><a href="/bits" class="u-block" itemprop="url"><span itemprop="name">Bits</span></a></li>
    <li><a href="/" class="u-block" itemprop="url"><span itemprop="name">About</span></a></li>
  </ul>
</nav>
