<header class="site-header" itemprop="hasPart" itemscope itemtype="http://schema.org/WPHeader">

  <div class="mobile-row" itemscope itemtype="https://schema.org/Person">
    {% include "site-logo.njk" %}
    
    {% include "social-list.njk" %}
  </div>

    {% include "site-nav.njk" %}
</header>
