<div class="site-name"><a href="{{ '/' | url }}" class="home-link u-flex"><span class="u-sr-only">{{ metadata.title }}</span><span class="site-logo u-block" aria-hidden="true" title="Angelique Weger">a</span></a></div>
