<header class="site-header">

  <div class="mobile-row">
    {% include "site-logo.njk" %}
    
    {% include "social-list.njk" %}
  </div>

  <nav>
    <ul class="page-list u-list-reset">
    {%- for entry in collections.all | eleventyNavigation %}
      <li class="u-inline-block{% if entry.url == page.url %} --active{% endif %}"><a href="{{ entry.url | url }}">{{ entry.title }}</a></li>
    {%- endfor %}
    </ul>
  </nav>

</header>
