<ul class="u-list-reset">
	{%- for item in metadata.author.social %}
  <li>
    {%- if item.type == "email" %}
    <a href="mailto:{{ item.mailto }}" target="_blank" itemprop="email">
    {%- else %}
    <a href="{{ item.url }}" target="_blank" itemprop="sameAs" rel="me">
    {%- endif %}
    <span class="u-sr-only">{{ item.type }}</span>
    </a></li>
	{%- endfor %}
</ul>
