<ul class="u-list-reset">
	{{- for item of metadata.author.social }}
  <li>
    {{- if item.type == "email" }}
    <a href="mailto:{{ item.mailto }}" target="_blank" itemprop="email">
    {{- else }}
    <a href="{{ item.url }}" target="_blank" itemprop="sameAs" rel="me">
    {{- /if }}
    <span class="u-sr-only">{{ item.type }}</span>
    </a></li>
	{{- /for }}
</ul>
