{%- set currentUrl -%}{{ metadata.url + page.url }}{%- endset -%}
{%- set mentions = webmentions.children | getWebmentionsForUrl(currentUrl) -%}
{%- set likesCount = mentions.likes | length -%}
{%- set rtCount = mentions.retweets | length -%}
{%- set commentCount = mentions.messages | length -%}
{%- set totResponses = likesCount + rtCount + commentCount -%}

{% if totResponses > 0 %}

    <section class="webmentions-container">
        <h2 class="webmentions-heading"><em>{{ totResponses }}</em> Responses</h2>

        {% if likesCount > 0 %}

        <div id="comments" class="webmentions--likes">
            <h3 class="u-margin-top-none webmentions-heading--likes">{{ likesCount }} Likes</h3>
            <ol class="u-list-reset">
            {% for webmention in mentions.likes %}
                <li class="webmention u-margin-horizontal-xs u-margin-bottom-xs">
                    {% include "webmention-avatar.njk" %}
                </li>
            {% endfor %}
            </ol>
        </div>

        {% endif %}

        {% if rtCount > 0 %}

        <div class="webmentions--rts">
            <h3 class="u-margin-top-none webmentions-heading--rts">{{ rtCount }} Retweets</h3>
            <ol class="u-list-reset">
            {% for webmention in mentions.retweets %}
                <li class="webmention u-margin-horizontal-xs u-margin-bottom-xs">
                    {% include "webmention-avatar.njk" %}
                </li>
            {% endfor %}
            </ol>
        </div>
        {% endif %}

        {% if commentCount > 0 %}
        <div class="webmentions--comments">
            <h3 class="webmentions-heading--comments">{{ commentCount }} Comments</h3>
            <ol class="u-list-reset">
            {% for webmention in mentions.messages | sort(attribute='published') %}
                <li class="webmention{% if webmention.author.url === "https://twitter.com/messypixels" %} webmention--mine{% endif %} u-margin-bottom">
                    <header class="u-margin-bottom-xs webmention-header">
                        {% include "webmention-avatar.njk" %}
                        <a {% if webmention.url %}href="{{ webmention.url }}"{% endif %} target="_blank" rel="noopener noreferrer" title="{{ webmention.author.name }}">{{ webmention.author.name }}</a>
                        <time datetime="{{ webmention.published }}">{{ webmention.published | readableDateFromISO }}</time>
                    </header>
                    <p class="u-margin-none">{{ webmention.content.value | safe }}</p>
                </li>
            {% endfor %}
            </ol>
        </div>
        {% endif %}

    </section>

{% endif %}
