---
title: My drafts folder
permalink: /blog/drafts/
pageClass: pg-drafts
layout: layouts/page.njk
eleventyExcludeFromCollections: true
---

{% include "../assets/img/scribble.svg" %}

<div class="intro">
  <p>A public listing of things I'm thinking about writing about, presented in no particular order.</p>
  <p>Any of these topics meaningful to you? Feel free to give me a shout on <a href="https://twitter.com/messypixels">Twitter</a>, as I'd love to hear your thoughts and could use the inspirational kick in the tush to move the post out of the purgatory that is my drafts folder.</p>
</div>

<ul class="u-margin-top-lg u-margin-bottom-xl draft-ideas">
{%- for post in drafts | sort(attribute="topic") %}

<li>
  <strong>{{ post.topic }}</strong>

  {%- if post.notes %}
  <p class="u-margin-top-none">{{ post.notes }}</p>
  {%- endif %}

  {%- if post.links %}
  {%- set linksSize = post.links | length %}
    {%- if linksSize > 1 %}
      <ul class="u-list-reset">
        {%- for link in post.links %}
          <li><a href="{{ link.url }}">{{ link.url }}</a></li>
        {%- endfor %}
      </ul>
    {%- else %}
    <p class="u-margin-top-none"><a href="{{post.links.url}}">{{ post.links.url }}</a></p>
    {%- endif %}
  {%- endif %}
</li>

{%- endfor %}

</ul>

<a href="/blog/" class="return-link">Back to published posts</a>
