<!doctype html>
<html lang="en" itemscope itemtype="http://schema.org/WebPage">
  {% include "head.njk" %}
  <body id="top"{% if templateClass %} class="{{ templateClass }}"{% endif %}>

    {{ content | safe }}


    {# <script src="/assets/scripts/index.js"></script> #}
  </body>
</html>
