<!doctype html>
<html lang="en" itemscope itemtype="http://schema.org/WebPage">
  {{ include "head.vto" }}
  <body id="top"{{ if templateClass }} class="{{ templateClass }}"{{ /if }}>

    {{ content }}


    {{# <script src="/assets/scripts/index.js"></script> #}}
  </body>
</html>
