<!doctype html>
<html lang="en" itemscope itemtype="http://schema.org/WebPage">
  {% include "head.njk" %}
  <body id="top"{% if templateClass %} class="{{ templateClass }}"{% endif %}>

    {{ content | safe }}

  </body>
</html>
