---
layout: layouts/base.njk
templateClass: tmpl-home
---

<main itemprop="mainEntity" itemscope itemtype="http://schema.org/CreativeWork">
  {{ content | safe }}
</main>

{% include "site-footer.njk" %}
