---
layout: layouts/base.njk
templateClass: tmpl-post
---
<h1>{{ title }}</h1>
 <time datetime="{{ date | htmlDateString }}">{{ date | readableDate }}</time>

{{ content | safe }}

<footer>
  <p>As always, feel free to <a href="https://twitter.com/intent/tweet?screen_name=messypixels" target="_blank">send comments to me via Twitter</a>. {{comments | safe }}</p>
</footer>

<div>
  <p>Written in {{ location }} and tagged as:
    <ul>
    {% for tag in tags %}
      {%- if collections.tagList.indexOf(tag) != -1 -%}
      {% set tagUrl %}/tags/{{ tag }}/{% endset %}
      <a href="{{ tagUrl | url }}">{{ tag }}</a>
      {%- endif -%}
    {% endfor %}
    </ul>
  </p>
</div>

<nav>
  <ol>
   {% if nextPost.url %}
    <li>
      <a class="next" href="{{ nextPost.url }}">Next Post</a>
    </li>
  {% endif %}
  {% if prevPost.url %}
    <li>
      <a class="previous" href="{{ prevPost.url }}">Previous Post</a>
    </li>
  {% endif %}
  </ol>
</nav>
