---
layout: layouts/base.njk
templateClass: tmpl-post
---
<h1>{{ title }}</h1>

{{ content | safe }}

<footer>
  <p>As always, feel free to <a href="https://twitter.com/intent/tweet?screen_name=messypixels" target="_blank">send comments to me via Twitter</a>. {{comments | safe }}</p>
</footer>

<p><a href="{{ '/' | url }}">← Home</a></p>
