---
layout: layouts/default.njk
templateClass: tmpl-post
---

<article class="blog-post">
  <header class="post-header u-flex">
    <h1>{{ title }}</h1>
    <time datetime="{{ date | htmlDateString }}">{{ date | readableDate }}</time>
  </header>

  {{ content | safe }}

  <footer>
    <p>As always, feel free to <a href="https://twitter.com/intent/tweet?screen_name=messypixels" target="_blank">send comments to me via Twitter</a>. {{comments | safe }}</p>
  </footer>
</article>

<div class="meta-wrapper">
  <div class="blog-meta">
    <p>Written in <em>{{ location }}</em> and tagged as:
      <ul class="u-list-reset">
      {% for tag in tags %}
        {%- if collections.tagList.indexOf(tag) != -1 -%}
        {% set tagUrl %}/tags/{{ tag | slug }}/{% endset %}
        <li class="u-inline-block"><a href="{{ tagUrl | url }}" class="u-block">{{ tag }}</a></li>
        {%- endif -%}
      {% endfor %}
      </ul>
    </p>
  </div>

  <nav class="post-nav">
    <ol class="u-list-reset u-flex{% if (prevPost.url == null) %} __only-newer{% endif %}">
    {% if prevPost.url %}
      <li>
        <a class="post-nav--link post-nav--link__old u-block" href="{{ prevPost.url }}"><em>Older</em> Post</a>
      </li>
    {% endif %}
    {% if nextPost.url %}
      <li>
        <a class="post-nav--link post-nav--link__new u-block" href="{{ nextPost.url }}"><em>Newer</em> Post</a>
      </li>
    {% endif %}
    </ol>
  </nav>
</div>

<footer class="bio-footer">
  {% include "bio.njk" %}
  <span class="photo-wrapper">
    {% include "bio-photo.njk" %}
    {% include "top-link.njk" %}
  </span>
</footer>
