*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: $font-plex-mono;
  margin: 0;
  scroll-behavior: smooth;
}

main {
  padding: $spacing-unit-sm;
}

a {

  *, *::before, *::after {
    transition: all 200ms ease;
  }
}
