*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: $font-plex-mono;
  margin: 0;
  min-height: 100vh;
  position: relative;
  scroll-behavior: smooth;
}

main {
  padding: $spacing-unit-sm $spacing-unit $spacing-unit-lg;

  @media (min-width: 720px) {
    margin-left: 120px;
    padding-left: $spacing-unit-lg;
  }
  
  @media (min-width: 720px) and (max-width: 959px) {
    overflow-x: hidden;
  }
}

a, svg {
  &, &::before, &::after {
    transition: $transition-default;
  }
}

img {
  display: block;
  max-width: 100%;
}
