@mixin u-sr-only {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  /* stylelint-disable declaration-no-important */
  position: absolute !important;
  /* stylelint-enable */
  width: 1px;
}

.u-sr-only {
  @include u-sr-only();
}
