$color-valentino: hsl(293, 18%, 19%);
$color-siren: hsl(347, 46%, 29%);
$color-siren-darker: hsla(347, 47%, 21%); // bordeaux
$color-mulberry: hsl(331, 45%, 51%);
$color-patina: hsl(175, 26%, 48%);
$color-tumeric: hsl(54, 58%, 52%);
$color-offblack: hsl(288, 17%, 6%); // onyx
$color-grey: hsl(293, 5%, 59%); // mountain mist
$color-pearl: hsl(46, 56%, 89%);
$color-offwhite: hsl(46, 59%, 97%); // bianca
