@font-face {
  font-family: 'Recursive';
  font-style: normal;
  font-weight: 900;
  src: local("Recursive Mono Linear Black"), local("RecursiveMonoLinear-Black"), url("../fonts/RecursiveMonoLinear-Black.woff2") format("woff2"), url("../fonts/RecursiveMonoLinear-Black.woff") format("woff");
}

@font-face {
  font-family: 'Recursive';
  font-style: italic;
  font-weight: 900;
  src: local("Recursive Mono Linear Black Italic"), local("RecursiveMonoLinear-BlackItalic"), url("../fonts/RecursiveMonoLinear-BlackItalic.woff2") format("woff2"), url("../fonts/RecursiveMonoLinear-BlackItalic.woff") format("woff");
}

@font-face {
  font-family: 'Recursive';
  font-style: normal;
  font-weight: 700;
  src: local("Recursive Mono Linear Bold"), local("RecursiveMonoLinear-Bold"), url("../fonts/RecursiveMonoLinear-Bold.woff2") format("woff2"), url("../fonts/RecursiveMonoLinear-Bold.woff") format("woff");
}

@font-face {
  font-family: 'Recursive';
  font-style: italic;
  font-weight: 700;
  src: local("Recursive Mono Linear Bold Italic"), local("RecursiveMonoLinear-BoldItalic"), url("../fonts/RecursiveMonoLinear-BoldItalic.woff2") format("woff2"), url("../fonts/RecursiveMonoLinear-BoldItalic.woff") format("woff");
}

@font-face {
  font-family: 'Recursive';
  font-style: normal;
  font-weight: 800;
  src: local("Recursive Mono Linear ExtraBold"), local("RecursiveMonoLinear-ExtraBold"), url("../fonts/RecursiveMonoLinear-ExtraBold.woff2") format("woff2"), url("../fonts/RecursiveMonoLinear-ExtraBold.woff") format("woff");
}


@font-face {
  font-family: 'Recursive';
  font-style: italic;
  font-weight: 800;
  src: local("Recursive Mono Linear ExtraBold Italic"), local("RecursiveMonoLinear-ExtraBoldItalic"), url("../fonts/RecursiveMonoLinear-ExtraBoldItalic.woff2") format("woff2"), url("../fonts/RecursiveMonoLinear-ExtraBoldItalic.woff") format("woff");
}

@font-face {
  font-family: 'Recursive';
  font-style: italic;
  font-weight: 400;
  src: local("Recursive Mono Linear Italic"), local("RecursiveMonoLinear-Italic"), url("../fonts/RecursiveMonoLinear-Italic.woff2") format("woff2"), url("../fonts/RecursiveMonoLinear-Italic.woff") format("woff");
}

@font-face {
  font-family: 'Recursive';
  font-style: normal;
  font-weight: 300;
  src: local("Recursive Mono Linear Light"), local("RecursiveMonoLinear-Light"), url("../fonts/RecursiveMonoLinear-Light.woff2") format("woff2"), url("../fonts/RecursiveMonoLinear-Light.woff") format("woff");
}

@font-face {
  font-family: 'Recursive';
  font-style: italic;
  font-weight: 300;
  src: local("Recursive Mono Linear Light Italic"), local("RecursiveMonoLinear-LightItalic"), url("../fonts/RecursiveMonoLinear-LightItalic.woff2") format("woff2"), url("../fonts/RecursiveMonoLinear-LightItalic.woff") format("woff");
}

@font-face {
  font-family: 'Recursive';
  font-style: normal;
  font-weight: 500;
  src: local("Recursive Mono Linear Medium"), local("RecursiveMonoLinear-Medium"), url("../fonts/RecursiveMonoLinear-Medium.woff2") format("woff2"), url("../fonts/RecursiveMonoLinear-Medium.woff") format("woff");
}

@font-face {
  font-family: 'Recursive';
  font-style: italic;
  font-weight: 500;
  src: local("Recursive Mono Linear Medium Italic"), local("RecursiveMonoLinear-MediumItalic"), url("../fonts/RecursiveMonoLinear-MediumItalic.woff2") format("woff2"), url("../fonts/RecursiveMonoLinear-MediumItalic.woff") format("woff");
}

@font-face {
  font-family: 'Recursive';
  font-style: normal;
  font-weight: 400;
  src: local("Recursive"), local("Recursive"), url("../fonts/RecursiveMonoLinear-Regular.woff2") format("woff2"), url("../fonts/RecursiveMonoLinear-Regular.woff") format("woff");
}

@font-face {
  font-family: 'Recursive';
  font-style: normal;
  font-weight: 600;
  src: local("Recursive Mono Linear SemiBold"), local("RecursiveMonoLinear-SemiBold"), url("../fonts/RecursiveMonoLinear-SemiBold.woff2") format("woff2"), url("../fonts/RecursiveMonoLinear-SemiBold.woff") format("woff");
}

@font-face {
  font-family: 'Recursive';
  font-style: italic;
  font-weight: 600;
  src: local("Recursive Mono Linear SemiBold Italic"), local("RecursiveMonoLinear-SemiBoldItalic"), url("../fonts/RecursiveMonoLinear-SemiBoldItalic.woff2") format("woff2"), url("../fonts/RecursiveMonoLinear-SemiBoldItalic.woff") format("woff");
}
