$base-font-size: 1em;
$type-scale: 1.125;
$line-height: $type-scale;
$leading: $type-scale * $base-font-size * $line-height;
// this uses MAJOR SECOND modular type scale, or exponents of 1.125
// learn more: https://type-scale.com/
