.bio-footer {
  background-color: $color-tumeric;
  font-style: italic;
  font-weight: $font-semibold;
  margin-left: (-$spacing-unit);
  margin-right: (-$spacing-unit);
  padding: $spacing-unit-sm $spacing-unit-sm $spacing-unit;
  position: relative;

  p:last-of-type {
    margin-bottom: 0;
  }

  .link-wrapper {
    @include z-index(mid);
    position: relative;

    &::before {
      background-color: white;
      bottom: 0;
      content: "";
      height: 85%;
      left: -4px;
      opacity: 0.9;
      position: absolute;
      transition: width 400ms ease;
      width: 160%;
    }

    a {
      color: $color-valentino;
      position: relative;
      text-decoration: none;
    }

    @include hover-state {
      a {
        color: $color-siren;
      }

      &::before {
        opacity: 1;
        width: 180%;
      }
    }
  }

  .photo-wrapper {
    position: absolute;

    @media (max-width: 679px) {
      @include z-index(low);
      bottom: -120px;
      right: 0;
    }
  }

  @media (min-width: 460px) {
    padding-left: $spacing-unit;
    padding-right: $spacing-unit;
  }

  @media (min-width: 680px) {
    @include z-index(low);
    margin-bottom: $spacing-unit-xs;
    margin-top: $spacing-unit-xl;
    padding-left: $spacing-unit-xl;
    width: 75%;

    p {
      margin-left: $spacing-unit-xl;
    }

    .photo-wrapper {
      left: $spacing-unit-sm;
      top: (-$spacing-unit);
    }
  }

  @media (min-width: 720px) {
    margin-right: 0;
    width: 100%;
    width: calc(100% - 36px);
  }
}
