.blog-meta {
  color: $color-siren;
  margin: $spacing-unit auto $spacing-unit-lg;
  position: relative;
  text-align: center;
  width: 44%;
  
  p {
    font-size: ms(-1);
    font-style: italic;
    margin: 0;
    padding-top: $spacing-unit-xs;
    text-transform: lowercase;
  }
  
  em {
    font-style: normal;
    text-transform: uppercase;
  }

  ul {
    @include z-index(low);
    position: relative;
  }

  li {
    line-height: 1.6;
    margin-left: 4px;
    margin-right: 4px;
  }

  a {
    border-bottom: 1px solid rgba($color-mulberry, 0.5);
    color: $color-siren;
    text-decoration: none;

    @include hover-state {
      border-bottom-color: $color-mulberry;
    }
  }

  &::before {
    background-color: $color-tumeric;
    content: "";
    height: 3px; /* stylelint-disable-line plugin/8-point-grid */
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    top: 0;
    width: 55%;
  }

  @media (min-width: 960px) {
    margin-top: $spacing-unit-xl;
    padding-bottom: $spacing-unit-sm;
    padding-top: $spacing-unit-sm;
    position: absolute;
    right: -220px;
    text-align: left;
    top: 220px;
    width: 176px;

    a  {
      text-transform: uppercase;
    }

    &::after {
      background-color: $color-tumeric;
      bottom: 0;
      content: "";
      height: 3px; /* stylelint-disable-line plugin/8-point-grid */
      left: 0;
      margin: auto;
      position: absolute;
      right: 0;
      width: 55%;
    }
  }
}
