blockquote + p {
  > cite { /* stylelint-disable-line selector-max-type */
    background-color: $color-grey;
    border-bottom: 4px solid $color-tumeric;
    display: block;
    font-family: $font-plex-mono;
    font-size: ms(-1);
    font-style: normal;
    font-weight: $font-medium;
    margin-left: 40%;
    padding: $spacing-unit-xs $spacing-unit-sm $spacing-unit-sm $spacing-unit-xs;
    position: relative;
    text-align: center;
    text-transform: uppercase;
    top: (-$spacing-unit);
    width: 60%;
  }
}

blockquote:not(.no-cite) {
  + p {
    margin: 0 (-$spacing-unit);
  }
}

.blog-post cite a {
  // necessary to override blog-post link styles
  animation: unset;
  background-image: unset;
  border-color: $color-valentino;
  color: $color-offblack;
}
