blockquote:has(cite) {
	margin-bottom: $spacing-unit-lg;
}

blockquote p {

	/* stylelint-disable selector-max-type */
	>cite {
		/* stylelint-enable */
		background-color: $color-grey;
		border-bottom: 4px solid $color-tumeric;
		display: block;
		font-family: $font-plex-mono;
		font-size: ms(-1);
		font-style: normal;
		font-weight: $font-regular;
		margin-top: $spacing-unit-xs;
		padding: $spacing-unit-xs $spacing-unit-xs $spacing-unit-sm $spacing-unit-xs;
		position: absolute;
		text-align: center;
		text-transform: uppercase;
		right: 0;
		width: 60%;
		@include z-index(top);

		@media (min-width: 840px) {
			width: 300px;
		}

		@media (min-width: 1140px) {
			width: 264px;
		}
	}
}

.blog-post cite a {
	// necessary to override blog-post link styles
	animation: unset;
	background-image: unset;
	border-color: $color-valentino;
	color: $color-offblack;
}