.draft-ideas {
	> li {
		list-style-image: url("data:image/svg+xml,%3Csvg height='23' width='23' viewBox='0 0 75.688 78.273' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M 73.688 12.273 C 75.688 7.273 73.688 1.273 67.688 0.273 C 47.688 -0.727 27.688 1.273 8.688 2.273 C 4.688 2.273 2.688 5.273 3.688 8.273 L 1.688 12.273 C 1.688 31.273 -1.312 51.273 0.688 69.273 L 1.688 72.273 C 1.688 74.273 3.688 76.273 5.688 76.273 C 14.688 78.273 24.688 78.273 34.688 78.273 L 67.688 78.273 C 70.688 77.273 72.688 75.273 73.688 72.273 L 74.688 68.273 C 75.688 50.273 76.688 30.273 73.688 12.273 Z M 36.688 63.273 L 14.688 64.273 C 15.688 47.273 12.688 30.273 12.688 14.273 C 28.688 15.273 44.688 17.273 60.688 16.273 L 60.688 63.273 L 36.688 63.273 Z'/%3E%3C/svg%3E");
		margin-bottom: $spacing-unit;
	}

	strong {
		position: relative;
		vertical-align: super;

		&::before {
			@include z-index(bottom);

			background-color: $color-tumeric;
			content: "";
			height: 11px; /* stylelint-disable-line plugin/8-point-grid */
			left: (-$spacing-unit);
			min-width: 88px;
			position: absolute;
			top: $spacing-unit-xs;
			width: 120%;
		}
	}

	p {
		font-family: $font-barlow;
		margin-bottom: 0;
	}

	a {
		color: rgba($color-offblack, 0.6);
		font-family: $font-plex-mono;
		font-size: 80%;
		@include hover-state {
			color: $color-siren;
		}
	}

	> .is-published {
		strong {
			&::before {
				content: unset;
			}

			&::after {
				background-color: $color-offblack;
				content: "";
				height: 4px;
				left: (-$spacing-unit);
				position: absolute;
				top: $spacing-unit-xs;
				transform: rotate(45deg);
				width: 24px;
			}
		}

		a {
			color: $color-mulberry;
			@include hover-state {
				color: $color-siren;
			}
		}
	}
}
