.page-list {
  text-align: right;
  text-transform: uppercase;

  li {
    font-size: ms(2);
    font-weight: $font-light;
  }
  
  a {
    color: $color-siren;
    position: relative;
    text-decoration: none;

    &::before {
      content: "";
      height: 1px;
      left: -12%;
      position: absolute;
      top: 50%;
      transition: width 350ms ease;
      width: 0;
    }
    
    @include hover-state {
      color: $color-offwhite;

      &::before {
        background-color: currentColor;
        width: 124%;
      }
    }
  }

  .--active {

    a {
      &::before {
        background-color: currentColor;
        transition: background-color 200ms ease;
        width: 124%;
      }

      @include hover-state {
        &::before {
          background-color: currentColor;
        }
      }
    }
  }

  @media (max-width: 719px) {
    li {
      @include u-display(inline-block);
      margin-right: 24px;
      margin-top: $spacing-unit-xs;
    }
  }

  @media (min-width: 720px) {
    text-align: center;

    a {
      color: $color-mulberry;

      &::before {
        left: (-$spacing-unit-xs);
      }

      @include hover-state {
        color: $color-mulberry;

        &::before {
          width: 100%;
        }
      }
    }

    .--active {
      a {
        color: white;

        &::before {
          background-color: $color-mulberry;
          width: 100%;
        }
      }
    }
  }
}
