.post-nav {
  position: absolute;
  text-transform: uppercase;
  top: 0;
  width: 100%;

  ol {
    justify-content: space-between;

    &.__only-newer { /* stylelint-disable-line selector-no-qualifying-type */
      // Need to push the new post link to the right on the very first blog post
      justify-content: end;
    }
  }

  li {
    line-height: 1;
    text-align: center;
    width: 60px; /* stylelint-disable-line plugin/8-point-grid */
  }
}
