.site-name {
  @include size(52px);
  background-color: $color-siren;
  left: 4px;
  margin: 0;
  position: relative;
  text-align: center;
  top: 4px;

  &::before {
    @include size(52px);
    border: 1px solid $color-mulberry;
    content: "";
    left: -4px;
    position: absolute;
    top: -4px;
  }
}

.home-link {
  align-items: center;
  justify-content: center;
  line-height: 1;
  position: relative;
  text-decoration: none;
  top: -12px;
}

.site-logo {
  color: $color-tumeric;
  font-size: ms(8);
  font-weight: $font-thin;
}
