.site-footer {
  background-color: $color-patina;
  color: $color-valentino;
  font-size: ms(-2);
  font-weight: $font-light;
  padding: $spacing-unit $spacing-unit-sm $spacing-unit-sm;
  position: relative;

  .site-name {
    left: unset;
    position: absolute;
    right: ($spacing-unit-sm);
    top: -24px;
  }

  .site-logo {
    position: relative;
    top: 5px;
  }

  ul {
    text-align: center;
    width: 85%;
  }

  li {
    line-height: 1.4;
    text-align: center;

    &:nth-child(1), &:nth-child(2) {
      display: inline;
    }

    &:nth-child(2) {
      &::before {
        content: " // ";
      }
    }

    > span {
      text-transform: uppercase;
    }
  
    a {
      color: $color-offblack;
      position: relative;
      text-decoration: none;

      &::before {
        border-bottom: 1px solid $color-mulberry;
        bottom: -2px;
        content: "";
        height: 100%;
        left: 0;
        position: absolute;
        transition: width 400ms ease;
        width: 0;
      }

      @include hover-state {
        &::before {
          width: 100%;
        }
      }
    }
  }

  @media (min-width: 720px) {
    display: flex;
    justify-content: flex-end;

    ul {
      max-width: 50ch;
    }
  }
}

.bmore-heart {
  color: $color-mulberry;
  display: inline-block;
  font-size: ms(2);
  font-style: normal;
  transition: $transition-default;
}

.site-footer a { /* stylelint-disable-line no-descending-specificity */
  @include hover-state {
    .bmore-heart {
      transform: scale(1.3);
    }
  }
}
