.pg-tags {
  h1 {
    color: $color-siren;
    font-size: ms(4);
    font-weight: $font-light;
    text-transform: uppercase;
  }

  ul {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}
