.pg-liw {
  nav {
    background-color: $color-patina;
    padding: $spacing-unit-xs $spacing-unit-xs $spacing-unit-sm;
  }

  header {
    a {
      color: $color-siren;

      @include hover-state {
        color: $color-mulberry;
      }
    }
  }

  h2 {
    margin-top: $spacing-unit;
  }

  ol {
    display: flex;
    flex-wrap: wrap;
  }

  .page-list {
    a {
      color: $color-pearl;

      @include hover-state {
        color: white;
      }
    }
  }
}

.life-weeks {
  li {
    border: 0.5px solid $color-tumeric;
    flex: 1 0 auto;
    padding: 4px;

    &:not(.week) {
      background-color: rgba($color-tumeric, 0.2);
    }
  }

  .week {
    &--future {
      background-color: $color-patina;
      border-color: $color-pearl;

      + li:not(.week) {
        background-color: rgba($color-patina, 0.5);
      }
    }
  }
}
