.tmpl-post {
  background-color: $color-grey;

  main p {
    font-family: $font-barlow;
    font-size: ms(1);
    line-height: 1.4;
  }

  header, cite {

    + p {
      margin-top: 0;
    }
  }

  header + p {
    font-family: $font-plex-sans;
    font-size: ms(2);
    font-weight: $font-semibold;
    line-height: 1.4;

    &::first-letter {
      color: $color-tumeric;
      float: left;
      font-size: ms(14);
      font-weight: $font-extrabold;
      line-height: 1;
      padding-right: 4px;
    }
  }

  blockquote {
    background-color: $color-offwhite;
    margin: $spacing-unit-sm (-$spacing-unit-sm) 0;
    padding: $spacing-unit 24px;
    position: relative;

    &::before {
      background-color: $color-tumeric;
      content: "";
      height: 4px;
      position: absolute;
      right: 0;
      top: 0;
      width: 60%;
    }

    &.twitter-tweet-error {
      margin: 0;
      padding: $spacing-unit-sm;

      &::before {
        display: none;
      }
    }
  }

  cite {
    background-color: $color-grey;
    border-bottom: 4px solid $color-tumeric;
    display: block;
    font-family: $font-plex-mono;
    font-size: ms(-1);
    font-style: normal;
    font-weight: $font-medium;
    margin-left: calc(40% + #{$spacing-unit-sm});
    padding: $spacing-unit-xs $spacing-unit-sm $spacing-unit-sm $spacing-unit-xs;
    position: relative;
    text-transform: uppercase;
    top: (-$spacing-unit-sm);
    width: 60%;
  }
}
