.tmpl-post {
  background-color: $color-grey;

  main {
    padding-bottom: 0;
  }

  .site-footer {
    ul {
      width: 65%;
    }
  }

  @media (min-width: 680px) {
    main {
      padding-bottom: $spacing-unit-xs;
    }

    .site-footer {
      bottom: 0;
      padding-left: 70%;
      position: absolute;
      right: 0;
      width: 100%;

      ul { /* stylelint-disable-line selector-max-combinators */
        width: 100%;
      }
    }
  }

  @media (min-width: 720px) {
    .site-footer {
      padding-left: 60%;
      padding-right: $spacing-unit-xs;
      width: calc(100% - 120px);
    }
  }

  @media (min-width: 820px) {
    .site-footer {
      padding-left: 508px; /* stylelint-disable-line plugin/8-point-grid */
    }
  }

  @media (min-width: 960px) {
    main {
      margin-right: 264px;
      position: relative;
    }

    .site-footer {
      padding-left: calc(100% - 384px); // 264 + 120
      // padding-left: 0;
    }
  }

  @media (min-width: 1140px) {
    main {
      padding-left: 8 * $spacing-unit;
    }
  }
}
