.tmpl-minimal {
  display: flex;
  flex-direction: column;

  .container {
    flex: 1 0 auto;
  }

  nav {
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
  }

  .page-list {
    li {
      font-size: ms(1);
    }
    @media (min-width: 720px) {
      text-align: right;

      li {
        @include u-display(inline-block);
        margin-right: 24px;
        margin-top: $spacing-unit-xs;
      }
    }
  }

  main {
    margin-left: unset;
  }
}
