.tmpl-home {
  background-color: $color-valentino;

  .page-heading {
    color: $color-offwhite;
    margin-top: $spacing-unit-xl;
    @media (min-width: 720px) {
      margin-bottom: $spacing-unit-xs;
      margin-left: -4ch;
    }
  }

  main {
    margin-bottom: $spacing-unit-xl + $spacing-unit;
    @media (min-width: 720px) and (max-width: 959px) {
      overflow-x: unset;
    }
  }

  .site-footer {

    @media (max-width: 719px) {
      .top-link { /* stylelint-disable-line selector-max-class */
        bottom: 0;
        top: unset;
      }
    }

    @media (min-width: 720px) {
      border-left: 120px solid $color-offblack;

      .site-name {
        @include size(72px);
        left: calc(((72 + 120) / 2) * -1px);
        top: 50%;
        transform: translateY(-50%);

        &::before {
          @include size(72px);
        }
      }

      .site-logo { /* stylelint-disable-line selector-max-class */
        font-size: ms(11);
      }
    }
  }

  .posts-list {
    max-width: 1540px; /* stylelint-disable-line plugin/8-point-grid */
  }

  @media (max-width: 1535px) {
    .more-link-item {
      display: none;
    }
  }

  @media (min-width: 1536px) {
    .more-link-item {
      align-items: center;
      display: flex;
      justify-content: center;

      &::before, &::after {
        content: unset;
      }

      @include hover-state {
        transition: unset;
      }
    }
  }
}

.image-wrapper {
  overflow-x: hidden;
  position: absolute;
  right: 0;
  top: 0;
  @media (min-width: 720px) {
    left: -220px;
  }
  @media (min-width: 1000px) {
    left: -100px;
  }
}

.homepage-photo {
  @include z-index(bottom);
  position: relative;
  right: -64px;
  @media (min-width: 720px) {
    left: 0;
    right: unset;
  }
}

.bio-wrapper {
  position: relative;
  top: $spacing-unit;
}

.bio-content {
  background-color: rgba($color-offwhite, 16%);
  padding: $spacing-unit $spacing-unit-sm $spacing-unit-sm;

  > p {
    color: $color-offwhite;
    font-size: ms(1);
    font-style: italic;
    margin-top: 0;
  }

  .link-wrapper {
    @include z-index(mid);
    position: relative;

    &::before {
      background-color: $color-mulberry;
      bottom: 0;
      content: "";
      height: 85%;
      left: -4px;
      opacity: 0.9;
      position: absolute;
      transition: width 400ms ease;
      width: 160%;
    }

    a {
      color: $color-offwhite;
      position: relative;
      text-decoration: none;
    }

    @include hover-state {
      a {
        color: $color-offwhite;
      }

      &::before {
        opacity: 1;
        width: 180%;
      }
    }
  }

  @media (min-width: 720px) {
    max-width: 62ch;
  }
}
