---
title: Content not found.
permalink: 404.html
templateClass: tmpl-404
layout: layouts/home.njk
eleventyExcludeFromCollections: true
---

<header>
4{% include "bio-photo.njk" %}4
</header>

<p>Whelp, this is embarassing. The content you're looking for can't be found. Check out the <a href="{{ '/' | url }}">homepage</a> or a list of <a href="{{ '/tags/' | url }}">all the tags</a> on my blog instead?</p>
