---
title: Content not found.
permalink: 404.html
pageClass: pg-404
layout: layouts/minimal.njk
eleventyExcludeFromCollections: true
---

<header>
4{% include "bio-photo.njk" %}4
</header>

<p>Whelp, this is embarassing. The content you're looking for can't be found. Check out the <a href="/">homepage</a> or a list of <a href="/tags/">all the tags</a> on my blog instead?</p>
