---
title: Bits and bobs
layout: layouts/page.njk
---

<p>Pages and projects separate from my blog posts.</p>

{% set itemlist = collections.bits %}

<ul class="u-list-reset">
  {% set dataUrls = [] %}
  {% for item in itemlist | sort(attribute="title") %}
    {% if item.data.pageClass == "pg-company-data" %}

      {% if item.data.bits_description %}
      <li>
        <a href="{{ item.url }}">{{ item.data.title }}</a>
        <span>{{ item.data.bits_description }}</span>
      </li>
      {% endif %}

    {% else %}
      {% set details = item.data.bits_description or item.data.summary %}

      <li>
        <a href="{{ item.url }}">{{ item.data.title }}</a>
        {{  details | safe }}
      </li>

    {% endif %}
  {% endfor %}
</ul>


