---
layout: false
permalink: browserconfig.xml
eleventyExcludeFromCollections: true
ignore: true
---
<?xml version="1.0" encoding="utf-8"?>
<browserconfig>
    <msapplication>
        <tile>
            <square150x150logo src="{{ metadata.faviconpath }}mstile-150x150.png?v=2"/>
            <TileColor>#5b9a95</TileColor>
        </tile>
    </msapplication>
</browserconfig>
