---
layout: layouts/home.njk
eleventyNavigation:
  key: Home
  order: 1
---

<h2>Blog</h2>

{% set postslist = collections.posts | head(-30) %}
{% set postslistCounter = collections.posts | length %}
{% include "posts-list.njk" %}
