---
title: Angélique Weger
layout: layouts/home.njk
homepage: true
---

<h1 class="u-sr-only" itemprop="name">Ang&eacute;lique Weger</h1>

<div class="image-wrapper">
  <img src="/assets/img/glitches/00.gif" alt="" id="glitch-photo" class="homepage-photo">
</div>


<ul class="u-list-reset labels-list">
  <li>Coder</li>
  <li>Designer</li>
  <li>Teacher</li>
  <li>Learner</li>
  <li>Enthusiast</li>
</ul>

<div class="bio-wrapper" itemscope itemtype="https://schema.org/Person">
  <div class="bio-content">
    {% include "bio.njk" %}
  </div>
  {% include "social-list.njk" %}
</div>

<h2 class="page-heading">Blog</h2>

{% set postslist = collections.posts | reverse %}
{# for homepage, only return most recent posts  #}
{% set postslist = postslist.slice(0,7) %} 

{% include "posts-list.njk" %}
