---
permalink: /page-list/{% if pagination.pageNumber > 0 %}{{ pagination.pageNumber }}/{% endif %}
layout: layouts/base.njk
pagination:
  data: collections.all
  size: 100
  alias: pages
---

<table>
  <thead>
    <th>URL</th>
    <th>Page Title</th>
  </thead>
  <tbody>
{%- for page in pages %}
  <tr>
    <td><a href="{{ page.url }}"><code>{{ page.url }}</code></a></td>
    <td>{{ page.data.title }}</td>
  </tr>
{%- endfor %}
  </tbody>
</table>
