---
title: Site pages
permalink: /page-list/{{ if pagination.pageNumber > 0 }}{{ pagination.pageNumber }}/{{ /if }}
layout: layouts/base.vto
pagination:
  data: collections.all
  size: 100
  alias: pages
---

<table>
  <thead>
    <th>URL</th>
    <th>Page Title</th>
  </thead>
  <tbody>
{{- for page of pages }}
  <tr>
    <td><a href="{{ page.url }}"><code>{{ page.url }}</code></a></td>
    <td>{{ page.data.title }}</td>
  </tr>
{{- /for }}
  </tbody>
</table>
