---
title: "Resume"
summary: "A digestible summary of my professional experience."
tags: [bits]
date: Last Modified
pageClass: pg-resume
layout: layouts/minimal.njk
---

<header class="resume__header">
  <h1 class="resume__name"><span>{{ metadata.title }}</span></h1>
  <p class="resume__headline">Engineering Leader</p>
  
  <ul class="u-list-reset resume__contact-list">
  	{%- for item in metadata.author.social %}
    {%- if item.mailto %}
    <li class="resume__contact-list-item"><a href="mailto:{{ item.mailto }}">{{ item.mailto }}</a></li>
    {%- endif %}
    {%- endfor %}
    <li class="resume__contact-list-item"><a href="{{ metadata.url }}">{{ metadata.domain }}</a></li>
  </ul>
</header>
<nav class="resume__nav">
  <ol class="u-list-reset resume__nav-list">
    {%- for section in resume %}
    {%- if section.slug %}
    <li class="resume__nav-list-item">
      {%- set short_name = section.short_name or section.mid_name or section.section %}
      {%- set mid_name = section.mid_name or section.short_name or section.section %}
      <a href="#{{ section.slug }}" data-short="{{ short_name }}" data-mid="{{ mid_name }}" data-long="{{ section.section }}">
        <span class="u-sr-only">{{ section.section }}</span>
      </a>
    </li>
    {%- endif %}
    {%- endfor %}
  </ol>
</nav>

{% include "symbols-resume.svg" %}

{%- for section in resume %}
<section {%- if section.slug %} id="{{ section.slug }}"{%- endif %} class="resume__section{%- if not section.slug %} resume__section--alt{%- endif %}">
  <h2 class="resume__section-heading">{{ section.section }}</h2>
  <ul class="u-list-reset resume__section-list">
    {%- for item in section.items %}
    <li class="resume__section-list-item">
      {%- if section.slug %}
      <h3 class="resume__section-subheading">{{ item.title }}</h3>
      {%- endif %}

      {%- if section.slug === "work" %}
      {%- if item.org %}
      <h4 class="work__org-name">{{ item.org }}</h4>
      {%- endif %}
      <p class="work__dates">{{ item.start | dateMoYr }} &ndash; {{ (item.end | dateMoYr) if item.end else "present" }}</p>
      {%- if loop.first %}
      <p class="work__description">
        {{ item.description | safe }}
      </p>
      {%- endif %}
      {%- if item.responsibilities %}
      <ul class="work__resp-list">
        {%- for resp in item.responsibilities %}
        <li class="work__resp-list-item">{{ resp | safe }}</li>
        {%- endfor %}
      </ul>
      {%- endif %}
      {%- if item.leadership %}
      <h4 class="work__resp-heading">Leadership</h4>
      <ul class="work__resp-list">
        {%- for resp in item.leadership %}
        <li class="work__resp-list-item">{{ resp| safe  }}</li>
        {%- endfor %}
      </ul>
      {%- endif %}
      {%- if item.technical %}
      <h4 class="work__resp-heading">Technical</h4>
      <ul class="work__resp-list">
        {%- for resp in item.technical %}
        <li class="work__resp-list-item">{{ resp| safe  }}</li>
        {%- endfor %}
      </ul>
      {%- endif %}
      {%- if item.culture %}
      <h4 class="work__resp-heading">Culture</h4>
      <ul class="work__resp-list">
        {%- for resp in item.culture %}
        <li class="work__resp-list-item">{{ resp| safe  }}</li>
        {%- endfor %}
      </ul>
      {%- endif %}
      {%- elif section.slug === "talks" %}
      <p class="resume__section-description">
        {%- for detail in item.details %}
        {{ detail.venue }} ({{ detail.date }}){%- if not loop.last %}, {%- endif %}
        {%- endfor %}
      </p>
      {%- elif item.description %}
      <p class="resume__section-description">{{ item.description | safe }}</p>
      {%- elif item.details %}
      <ul class="u-list-reset resume__section-sublist">
        {%- for detail in item.details %}
        <li class="resume__section-sublist-item">
          {{ detail }}
        </li>
        {%- endfor %}
      </ul>
      {%- elif item.url %}
      <a href="{{ item.url }}">{{ item.title }}</a>
      {%- endif %}

    </li>
    {%- endfor %}
  </ul>
  {%- if section.slug %}
  <svg class="resume__section-icon">
    <use xlink:href="#icon-{{ section.slug }}" />
  </svg>
  {%- endif %}
</section>

{%- endfor %}
