---
eleventyComputed:
  custom_title: Tagged “{{ tag }}”
permalink: /tags/{{ tag | slug }}/
pageClass: pg-tagged
layout: layouts/page.njk
pagination:
  data: collections
  size: 1
  alias: tag
  filter:
    - all
    - nav
    - post
    - posts
    - tagList
  addAllPagesToCollections: true
---


<h1>Tagged as <em>{{ tag }}</em></h1>

{% set postslist = collections[ tag ] | reverse %}
{% include "posts-list.njk" %}

<p>See <a href="/tags/" class="u-block">all tags</a></p>
