---
title: Tags
permalink: /tags/
pageClass: pg-tags
layout: layouts/page.njk
---

<ul class="u-list-reset">
  {% for tagKey, tagVal in collections.tagCount %}
  {% set tagUrl %}/tags/{{ tagKey | slug }}/{% endset %}
  <li class="tag-item"><a href="{{ tagUrl }}" class="tag-item__link">{{ tagKey }} <span class="tag-item__number">{{ tagVal }}</span></a></li>
  {% endfor %}
</ul>
