---
permalink: /tags/
layout: layouts/default.njk
---
<h1>Tags</h1>

<ul class="u-list-reset">
  {% for tagKey, tagVal in collections.tagCount %}
  {% set tagUrl %}/tags/{{ tagKey | slug }}/{% endset %}
  <li><a href="{{ tagUrl | url }}">{{ tagKey }} {{ tagVal }}</a></li>
  {% endfor %}
</ul>
