/* WEB FONTS */

/** BASIC SANS SERIF FONTS **/
/* https://fontsource.org/fonts/atkinson-hyperlegible-next/cdn */
@font-face {
  font-family: 'Atkinson Hyperlegible Next Variable';
  font-style: normal;
  font-display: swap;
  font-weight: 200 800;
  src: url(https://cdn.jsdelivr.net/fontsource/fonts/atkinson-hyperlegible-next:vf@latest/latin-wght-normal.woff2) format('woff2-variations');
  unicode-range: U+0000-00FF,U+0131,U+0152-0153,U+02BB-02BC,U+02C6,U+02DA,U+02DC,U+0304,U+0308,U+0329,U+2000-206F,U+20AC,U+2122,U+2191,U+2193,U+2212,U+2215,U+FEFF,U+FFFD;
}
/* https://fontsource.org/fonts/b612/cdn */
@font-face {
  font-family: 'B612';
  font-style: italic;
  font-display: swap;
  font-weight: 700;
  src: url(https://cdn.jsdelivr.net/fontsource/fonts/b612@latest/latin-700-italic.woff2) format('woff2'),
       url(https://cdn.jsdelivr.net/fontsource/fonts/b612@latest/latin-700-italic.woff) format('woff');
  unicode-range: U+0000-00FF,U+0131,U+0152-0153,U+02BB-02BC,U+02C6,U+02DA,U+02DC,U+0304,U+0308,U+0329,U+2000-206F,U+20AC,U+2122,U+2191,U+2193,U+2212,U+2215,U+FEFF,U+FFFD;
}
@font-face {
  font-family: 'B612';
  font-style: italic;
  font-display: swap;
  font-weight: 400;
  src: url(https://cdn.jsdelivr.net/fontsource/fonts/b612@latest/latin-400-italic.woff2) format('woff2'),
       url(https://cdn.jsdelivr.net/fontsource/fonts/b612@latest/latin-400-italic.woff) format('woff');
  unicode-range: U+0000-00FF,U+0131,U+0152-0153,U+02BB-02BC,U+02C6,U+02DA,U+02DC,U+0304,U+0308,U+0329,U+2000-206F,U+20AC,U+2122,U+2191,U+2193,U+2212,U+2215,U+FEFF,U+FFFD;
}
/* https://fontsource.org/fonts/inclusive-sans/cdn */
@font-face {
  font-family: 'Inclusive Sans Variable';
  font-style: normal;
  font-display: swap;
  font-weight: 300 700;
  src: url(https://cdn.jsdelivr.net/fontsource/fonts/inclusive-sans:vf@latest/latin-wght-normal.woff2) format('woff2-variations');
  unicode-range: U+0000-00FF,U+0131,U+0152-0153,U+02BB-02BC,U+02C6,U+02DA,U+02DC,U+0304,U+0308,U+0329,U+2000-206F,U+20AC,U+2122,U+2191,U+2193,U+2212,U+2215,U+FEFF,U+FFFD;
}
/* font-family: 'Literal', sans-serif; */
/* font-family: 'Rethink Sans', sans-serif; */
/* font-family: 'Readex Pro', sans-serif; */


/** MONOSPACE FONTS **/
/* https://fontsource.org/fonts/atkinson-hyperlegible-mono/cdn */
@font-face {
  font-family: 'Atkinson Hyperlegible Mono Variable';
  font-style: normal;
  font-display: swap;
  font-weight: 200 800;
  src: url(https://cdn.jsdelivr.net/fontsource/fonts/atkinson-hyperlegible-mono:vf@latest/latin-wght-normal.woff2) format('woff2-variations');
  unicode-range: U+0000-00FF,U+0131,U+0152-0153,U+02BB-02BC,U+02C6,U+02DA,U+02DC,U+0304,U+0308,U+0329,U+2000-206F,U+20AC,U+2122,U+2191,U+2193,U+2212,U+2215,U+FEFF,U+FFFD;
}
/* https://fontsource.org/fonts/b612-mono/cdn */
@font-face {
  font-family: 'B612 Mono';
  font-style: italic;
  font-display: swap;
  font-weight: 700;
  src: url(https://cdn.jsdelivr.net/fontsource/fonts/b612-mono@latest/latin-700-italic.woff2) format('woff2'),
       url(https://cdn.jsdelivr.net/fontsource/fonts/b612-mono@latest/latin-700-italic.woff) format('woff');
  unicode-range: U+0000-00FF,U+0131,U+0152-0153,U+02BB-02BC,U+02C6,U+02DA,U+02DC,U+0304,U+0308,U+0329,U+2000-206F,U+20AC,U+2122,U+2191,U+2193,U+2212,U+2215,U+FEFF,U+FFFD;
}
@font-face {
  font-family: 'B612 Mono';
  font-style: italic;
  font-display: swap;
  font-weight: 400;
  src: url(https://cdn.jsdelivr.net/fontsource/fonts/b612-mono@latest/latin-400-italic.woff2) format('woff2'),
       url(https://cdn.jsdelivr.net/fontsource/fonts/b612-mono@latest/latin-400-italic.woff) format('woff');
  unicode-range: U+0000-00FF,U+0131,U+0152-0153,U+02BB-02BC,U+02C6,U+02DA,U+02DC,U+0304,U+0308,U+0329,U+2000-206F,U+20AC,U+2122,U+2191,U+2193,U+2212,U+2215,U+FEFF,U+FFFD;
}
/* font-family: 'Anonymous Pro', sans-serif; */
/* font-family: 'SomeType Mono', sans-serif; */
/* font-family: 'AnkaCoderCondensedRegular'; */
/* font-family: 'Azeret Mono', sans-serif; */


/* PIXEL FONTS */
/* font-family: 'NARPASSWORD00000', sans-serif; */
/* font-family: 'NARPASSWORD00000 fixed.width', sans-serif; */
/* font-family: 'PixelOperatorMono8Regular'; */
/* font-family: 'Bitcount', sans-serif; */
/* font-family: 'Bitcount Grid Single', sans-serif; */
/* font-family: 'Departure Mono', sans-serif; */


/** DISPlAY FONTS **/
/* https://healtheweb.site/ */
@font-face {
    font-family: 'Heal The Web A';
    src: url('/assets/fonts/HealTheWebA-Regular.woff2') format('woff2'),
        url('/assets/fonts/HealTheWebA-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Heal The Web B';
    src: url('/assets/fonts/HealTheWebB-Regular.woff2') format('woff2'),
        url('/assets/fonts/HealTheWebB-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
/* https://fontsource.org/fonts/boldonse/cdn */
@font-face {
  font-family: 'Boldonse';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url(https://cdn.jsdelivr.net/fontsource/fonts/boldonse@latest/latin-400-normal.woff2) format('woff2'),
       url(https://cdn.jsdelivr.net/fontsource/fonts/boldonse@latest/latin-400-normal.woff) format('woff');
  unicode-range: U+0000-00FF,U+0131,U+0152-0153,U+02BB-02BC,U+02C6,U+02DA,U+02DC,U+0304,U+0308,U+0329,U+2000-206F,U+20AC,U+2122,U+2191,U+2193,U+2212,U+2215,U+FEFF,U+FFFD;
}
/* font-family: 'Marghote', sans-serif; */
/* font-family: 'F25 Executive', serif; */
/*  font-family: 'This Side Up', sans-serif; */


/* UTILITY STYLES */
.u-block {
    display: block;
}

.u-list-reset {
	list-style: none;
	margin: 0;
	padding-left: 0;    
}