# This action triggers the build hook
name: Scheduled check for new sky photo

# Controls when the workflow will run
on:
  schedule:
    # Runs at 9:10am every weekday
    - cron: "10 9 * * *"
  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# The workflow to run
jobs:
  get-data:
      runs-on: ubuntu-latest
      defaults:
        run:
          working-directory: skies
      outputs:
        missing-photos:
      steps:
        - name: Check out repo
          uses: actions/checkout@v6
        - name: Install deps
          uses: bahmutov/npm-install@v1
          with:
            working-directory: skies
            useLockFile: false
        - name: Run script
          env:
              TUMBLR_BLOG: ${{ secrets.TUMBLR_BLOG }}
              TUMBLR_CONSUMER_KEY: ${{ secrets.TUMBLR_CONSUMER_KEY }}
              TUMBLR_SECRET_KEY: ${{ secrets.TUMBLR_SECRET_KEY }}
              TUMBLR_OATH_TOKEN: ${{ secrets.TUMBLR_OATH_TOKEN }}
              TUMBLR_OATH_TOKEN_SECRET: ${{ secrets.TUMBLR_OATH_TOKEN_SECRET }}
          run: node skies.js
  handle-data:
      needs: get-data
      # Only run this job if there are missing photos
      if: needs.get-data.outputs.missing-photos > 0
      runs-on: ubuntu-latest
      steps:
        - name: Check out repo
          uses: actions/checkout@v6
        - name: Copy JSON file
          run: cp skies/temp-sky.json src/_data/sky.json
        - name: Commit changes
          uses: stefanzweifel/git-auto-commit-action@v4
          with:
            commit_message: "Automagically add latest sky photos"
            commit_user_name: "Update Skies GH Action"
