# This action triggers the build hook
name: Scheduled check for new sky photo

# Controls when the workflow will run
on:
  schedule:
    # Runs at 9:10am every weekday
    - cron: "10 9 * * *"
  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# The workflow to run
jobs:
  build:
      runs-on: ubuntu-latest
      steps:
        - uses: actions/checkout@v6
        - name: Run a skies.js
          env:
            TUMBLR_BLOG: ${{ secrets.TUMBLR_BLOG }}
            TUMBLR_CONSUMER_KEY: ${{ secrets.TUMBLR_CONSUMER_KEY }}
            TUMBLR_SECRET_KEY: ${{ secrets.TUMBLR_SECRET_KEY }}
            TUMBLR_OATH_TOKEN: ${{ secrets.TUMBLR_OATH_TOKEN }}
            TUMBLR_OATH_TOKEN_SECRET: ${{ secrets.TUMBLR_OATH_TOKEN_SECRET }} 
          run: node /src/assets/scripts/skies.js