---
title: Life in weeks
permalink: /bits/life-in-weeks/
bits_description: Life in weeks
pageClass: pg-liw
layout: layouts/minimal.njk
---

<header class="u-padding-top-xl">

  <h1 class="u-margin-vertical-none">My life in weeks</h1>
  <p>Inspired by Buster Benson's own <a href="https://notes.busterbenson.com/life-in-weeks">Life in Weeks</a> page, I've created this summary of my life, where each week is a small box.</p>
  <p>I think the career bits of this summary are especially important for all those folks who think they've missed the boat if they don't get their first coding job in their 20s.</p>
</header>

{% set start_date = life[0].date %}
{% set start_year = start_date | slice(3) | 
first | int %}
{% set end_year = 2028 %}

{% for decade in range(start_year, end_year) | batch(10) -%}
  <section>

    {% if loop.index == 1 %}
      <h2>Childhood</h2>
    {% elseif loop.index == 2 %}
      <h2>My teens</h2>
    {% else %}
      {% set era = (loop.index - 1) * 10 %}
      <h2 id="decade-{{ era }}">My {{ era }}s</h2>
    {% endif %}

    <ol class="u-list-reset life-weeks">
      {% for display_year in decade %}
        {% set display_age = display_year - start_year %}
          <li>{{ display_age }} in {{ display_year}}</li>
          {% for week in range(0, 53) %}
            {% set display_week_date = display_year | shortDateFromYear | addDaysToDate(7 * week) %}
            <li class="week" data-date="{{ display_week_date }}">
              {% for day in range(0,7) %}
                {% set specific_day = display_week_date | addDaysToDate(loop.index0) %}
                {% for event in life %}
                  {% if event.date == specific_day %}
                    <span title="{{ event.date }}">{{ event.description }}</span>
                  {% endif %}
                {% endfor %}
              {% endfor %}
              &nbsp;
            </li>
          {% endfor %}
      {%- endfor %}
    </ol>

  </section>
{%- endfor %}


<script>
  const today = new Date();
  const weeks = document.querySelectorAll('.week');
  weeks.forEach(week => {
    let weekDate = new Date(week.getAttribute('data-date'));

    if (today < weekDate) {
      week.classList.add("week--future");
    }
  });
</script>
